<div id="carouselExampleSlidesOnly" class="carousel slide my-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/nyi-roro-kidul-2.png" class="d-block w-100" alt="nyi-roro-kidul" />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-info">Cerita Rakyat Jawa Barat</h1>
        <p id="animated-text">"Sang Legenda Nyi Roro Kidul yang penuh misteri."</p>
        <a class="btn btn-primary" href="https://indonesiakaya.com/pustaka-indonesia/cerita-rakyat-jawa-barat-legenda-nyi-roro-kidul/" target="_blank" role="button">Baca Selengkapnya</a>
      </div>
    </div>
  </div>
</div>
